@model Weeks5and6Project.Models.Dice

<form method="post">
    <div>
        <img src="~/Resources/Die@(Model.NumOne).bmp" alt="Die @Model.NumOne" />
        <img src="~/Resources/Die@(Model.NumTwo).bmp" alt="Die @Model.NumTwo" />
    </div>
    <div>
        <input value="Roll Dice!" type="submit" />
    </div>
</form>


